{% extends 'back-office.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    <h1>Liste des commandes</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:5%">id</th>
                <th style="width:10%">membre</th>
                <th style="width:10%">vehicule</th>
                <th style="width:15%">debut</th>
                <th style="width:10%">fin</th>
                <th style="width:25%">total</th>
                {# <th style="width:10%">dt creation</th> #}
                <th style="width:15%">actions</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
            <tr>
                <td>{{commande.id}}</td>
                <td>{{commande.user.id}} - {{ commande.user.pseudo }}</td>
                <td>{{commande.vehicule.id}} - {{ commande.vehicule.titre }}</td>
                <td>{{commande.dateHeureDepart | date("d/m/Y H:i:s")}}</td>
                <td>{{commande.dateHeureFin | date("d/m/Y H:i:s")}}</td>
                <td>{{commande.prixTotal | deviseFr}}</td>
                {# <td>{{ membre.roles | join(",")}}</td> #}
                {# <td class="align-middle">{{ membre.dateEnregistrement | date("d/m/Y H:i:s")}}</td> #}

                <td>
                    {% include "commun/action.html.twig" with {"id" : commande.id , "update": "commande_update", "delete": "commande_suppr" } %}
                </td>
            </tr>

            {% else %}
                <tr>
                    <td colspan="7">aucun membres enregistré pour le moment</td>
                </tr>

            {% endfor %}
        </tbody>

    </table>
{% endblock %}